<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-option-heading" jhiTranslate="voipadminApp.option.home.createOrEditLabel">Create or edit a Option</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="voipadminApp.option.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="voipadminApp.option.descr" for="field_descr">Descr</label>
                    <input type="text" class="form-control" name="descr" id="field_descr"
                           formControlName="descr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="voipadminApp.option.valueType" for="field_valueType">Value Type</label>
                    <mat-radio-group formControlName="valueType" id="field_valueType"
                                     aria-label="Select an option" class="vertical-radio-group">
                        <mat-radio-button value="TEXT" class="vertical-radio-button">Arbitrary</mat-radio-button>
                        <mat-radio-button value="SELECT" class="vertical-radio-button">Predefined</mat-radio-button>
                    </mat-radio-group>
                </div>

                <fieldset class="possible-values-group" *ngIf="editForm.get('valueType')?.value === 'SELECT'" formArrayName="possibleValues">
                    <legend jhiTranslate="voipadminApp.option.possibleValues">Possible Values</legend>
                    <div class="possible-value-input input-group" *ngFor="let possibleValue of possibleValues().controls; let i = index;" [formGroupName]="i">
                        <input type="text" class="form-control" formControlName="value" placeholder="Value">
                        <button class="btn btn-outline-secondary" type="button" (click)="removePossibleValue(i)">Remove</button>
                    </div>

                    <button type="button"
                            class="btn btn-secondary"
                            (click)="addPossibleValue()"
                            jhiTranslate="voipadminApp.option.add">Add Possible Value</button>
                </fieldset>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="voipadminApp.option.multiple" for="field_multiple">Multiple</label>
                    <div>
                        <mat-slide-toggle formControlName="multiple" id="field_multiple"></mat-slide-toggle>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
