<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-setting-heading" jhiTranslate="voipadminApp.setting.home.createOrEditLabel">Create or edit a Setting</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="voipadminApp.setting.textValue" for="field_textValue">Text Value</label>
                    <input type="text" class="form-control" name="textValue" id="field_textValue"
                           formControlName="textValue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="voipadminApp.setting.option" for="field_option">Option</label>
                    <select class="form-control" id="field_option" name="option" formControlName="option">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="optionOption.id" *ngFor="let optionOption of options; trackBy: trackById">{{ optionOption.code }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="voipadminApp.setting.selectedValues" for="field_selectedValues">Selected Values</label>
                    <select class="form-control" id="field_selectedValues" multiple name="selectedValues" formControlName="selectedValues">
                        <option [ngValue]="getSelected(editForm.get('selectedValues')!.value, optionValueOption)" *ngFor="let optionValueOption of optionvalues; trackBy: trackById">{{ optionValueOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="voipadminApp.setting.device" for="field_device">Device</label>
                    <select class="form-control" id="field_device" name="device" formControlName="deviceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="deviceOption.id" *ngFor="let deviceOption of devices; trackBy: trackById">{{ deviceOption.mac }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
